@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
</div>

<h1>O Projeto</h1>
<h3>Inicio tela de Logs com Filtro pelo back-end ganhando assim desempenho no carregamento, pois o banco de dados contem mais de 60 mil registros</h3>
<a href="/log">Acesso</a>
<br />
<h3>Inicio tela de Logs com Filtro pelo javascript trazendo todos os registros</h3>
<a href="/log/GetAll">Acesso</a>
<br />
<h3>Observação</h3>
<h4>Contem um filtro para Ip,Id, Descrição e Data inicio e Fim</h4>

<br />

<h3>Para o front-end foi usando MVC ASP NET com Razor View</h3>
